#main-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 80vw;
}